<div class="timer" id={{id}}>
    <span class="event" data-value="eventType">To the <b>{{eventType}}</b> time left:</span>
    <div class="time-container">
        <div class="field">
            <span class="value" data-value="days"></span>
            <span class="label">&nbsp;Days</span>
        </div>
        
        <div class="field">
            <span class="value" data-value="hours"></span>
            <span class="label">&nbsp;Hours</span>
        </div>
        
        <div class="field">
            <span class="value" data-value="mins"></span>
            <span class="label">&nbsp;Minutes</span>
        </div>
        
        <div class="field">
            <span class="value" data-value="secs"></span>
            <span class="label">&nbsp;Seconds</span>
        </div>
    </div>
</div>